<%= form_with(model: memory, local: true) do |form| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "titre" %>
    <%= form.text_field :title, id: :memory_title, style:"width:50%;" %>
  </div>

  <div class="field">
    <%= form.label :subtitle, "sous-titre" %>
    <%= form.text_field :subtitle, id: :memory_subtitle, style:"width:50%;" %>
  </div>


  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :memory_date, style:"width:50%;" %>
  </div>

  <div class="field">
    <%= form.label :text, "texte" %>
    <%= form.text_area :text, id: :memory_text %>
  </div>

  <div class="actions">
    <%= link_to 'Retour', memories_path, class: "buttonH" %>
    <%= form.submit "Enregistrer la mémoire", style: "float:right;" %>
  </div>
<% end %>

