<!DOCTYPE html>
<html>
  <head>
    <title>Mesmots</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to home_path do %>
    <%= image_tag "logoblcaca.png", style:"display:block;width:50%;margin-left:auto;margin-right:auto;" %>
  <% end %>
    <% if !(controller.controller_name == "static" && controller.action_name == "home") && !(controller.controller_name == "errors" && controller.action_name == "http_404") %>		
      <nav id="nav">	
        <ul class="links">
          <li class="active"><a><%= @pageTitle %></a></li>
            <% if controller.controller_name == "memories" %>
              <%= link_to 'Nouveau souvenir', new_memory_path, style: "margin-left:20px;" %>
            <% end %>

        </ul>
        <ul class="icons">
          <li><a href="<%= home_path %>" class="icon fa-home"></a></li>
          <% if current_user %>
            <li><a href="<%= edit_user_registration_path %>" class="icon fa-user"></a></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %> <i class="icon fa-power-off"></i> <% end %></li>
          <% end %>
        </ul>
      </nav>
      
  <div id="main">
    <%= yield %>
  </div>

    <% else %>
    
      <%= yield %>
    <% end %>
  </body>
</html>
