<!DOCTYPE html>
<html>
  <head>
    <title>Mesmots</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to home_path do %>
    <%= image_tag "logoblc.png", style:"display:block;width:50%;margin-left:auto;margin-right:auto;" %>
  <% end %>
    <% if !(controller.controller_name == "static" && controller.action_name == "home") %>		
      <nav id="nav">	
        <ul class="links">
          <li class="active"><a><%= @pageTitle %></a></li>
        </ul>
        <ul class="icons">
          <li><a href="<%= home_path %>" class="icon fa-home"></a></li>
          <li><a href="<%= edit_user_registration_path %>" class="icon fa-user"></a></li>
          <li><a href="https://www.facebook.com/mesmotsfrance/" target="_blank" class="icon fa-facebook" style="color:#C33E3B;"></a></li>
        </ul>
      </nav>
      
  <div id="main">
    <%= yield %>
  </div>

    <% else %>
    
      <%= yield %>
    <% end %>
  </body>
</html>
