<!DOCTYPE html>
<html>
  <head>
    <title>Mesmots</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to home_path do %>
    <%= image_tag "logoblc.png", style:"display:block;width:50%;margin-left:auto;margin-right:auto;" %>
  <% end %>
    <% if !(controller.controller_name == "static" && controller.action_name == "home") %>		
      <nav id="nav">	
        <ul class="links">
          <li class="active"><a>This is Massively</a></li>
        </ul>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
      </nav>
      
  <div id="main">
    <%= yield %>
  </div>

    <% else %>
    
      <%= yield %>
    <% end %>
  </body>
</html>
