<!DOCTYPE html>
<html>
  <head>
    <title>MesMots</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper" class="fade-in">
    <!-- Setting home image -->
      <% if controller.controller_name == "static" && controller.action_name == "home" %>
        <%= image_tag "logoblc.png", class: "homeLogo" %>
      <% else %>
        <%= image_tag "logoblc.png", class: "logo" %>
      <% end %>
      <!-- Setting nav bar -->
      <% if !(controller.controller_name == "static" && controller.action_name == "home") && !(controller.controller_name == "errors" && controller.action_name == "http_404") %>
        <nav id="nav">
          <ul class="links">
            <% if controller.controller_name == "memories" && controller.action_name == "show" %>
              <li><%= link_to 'Mes souvenirs', memories_url %></li>
              <li class="active"><a><%= @pageTitle %></a></li>
              <li><%= link_to 'Nouveau souvenir', new_memory_path, class: "newSouve" %></li>
            <% elsif controller.controller_name == "memories" && controller.action_name == "new" %>
              <li><%= link_to 'Mes souvenirs', memories_url %></li>
              <li class="active"><a><%= @pageTitle %></a></li>
            <% elsif controller.controller_name == "memories" && controller.action_name == "index" %>
              <li class="active"><%= link_to 'Mes souvenirs', memories_url %></li>
              <li><%= link_to 'Nouveau souvenir', new_memory_path, class: "newSouve" %></li>
            <% else %>
              <% if current_user %>
                <li><%= link_to 'Mes souvenirs', memories_url %></li>
              <% end %>
              <li class="active"><a><%= @pageTitle %></a></li>
            <% end %>
          </ul>
          <!-- Setting icon bar -->
          <ul class="icons">
            <% if current_user %>
              <li><%= link_to edit_user_registration_path do %>
                    <%= fa_icon "user 2x" %>
                  <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= fa_icon "power-off 2x" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>

        <div id="main">
          <%= yield %>
        </div>

      <% else %>
        <%= yield %>
      <% end %>

    </div>
      <!-- script -->
      <%= javascript_include_tag('theme/jquery.min.js') %>
      <%= javascript_include_tag('theme/jquery.scrollex.min.js') %>
      <%= javascript_include_tag('theme/jquery.scrolly.min.js') %>
      <%= javascript_include_tag('theme/skel.min.js') %>
      <%= javascript_include_tag('theme/util.js') %>
      <%= javascript_include_tag('theme/main.js') %>
  </body>
</html>
