<!DOCTYPE html>
<html>
  <head>
    <title>Mesmots</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% unless controller_name == "errors" %>
    <nav>
        <%= link_to "Accueil", home_path %>

        <% if user_signed_in? %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
        <% else %>
          <%= link_to "Se connecter", new_user_session_path  %>
          <%= link_to "S'inscrire", new_user_registration_path %>
        <% end %>
        
        <div class="reso">
          <%= link_to "Instagram", 'https://instagram.com/'%>
          <%= link_to "Twitter", 'https://twitter.com/'%>
          <%= link_to "Facebook", 'https://facebook.com/'%>
        </div>
    </nav>
  <% end %>

  </body>
</html>
